<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2>UserName Generator</h2>
      </div>
      <form [formGroup]="generateform" autocomplete="off">
        <div class="form-group">
          <label for="firstname" class="form-label">First Name</label>
          <div class="input-group has-validation">
            <input type="text" #firstname [ngClass]="{'form-control':true, 'is-valid':generateform.get('firstname')?.invalid}" id="firstname" name="firstname"
                   formControlName="firstname" placeholder="Coder">
            <div class="invalid-feedback">
              Firstname is required.
            </div>
          </div>
        </div>
        <pre></pre>
        <div class="form-group">
          <label for="lastname" class="form-label">Surname</label>
          <div class="input-group has-validation">
            <input type="text" #lastname [ngClass]="{'form-control': true, 'is-valid': generateform.get('lastname')?.invalid}" id="lastname" name="lastname"
                   formControlName="lastname" placeholder="Byte">
            <div class="invalid-feedback">
              LastName is required.
            </div>
          </div>
        </div>
        <pre></pre>
        <div class="mb-1">
          <div class="input-group">
            <button class="btn btn-primary" type="submit">Generate</button>
          </div>
          <span id="output">generated username...</span>
        </div>
      </form>
    </div>
  </div>
</div>,
